<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!-- 身份认证失败，则跳转到登录页面的配置 -->
        <property name="loginUrl" value="/shiro/login.html"/>
        <!--登录成功页面，如果自己设置了返回页面，则不跳转-->
        <property name="successUrl" value="/shiro/home.html"/>
        <!-- 权限认证失败，则跳转到指定页面 -->
        <property name="unauthorizedUrl" value="/error/404.html"/>
        <property name="filterChainDefinitions">
            <value>
                /shiro/toLogin = authc <!-- authc 表示需要认证才能访问的页面 -->
                /shiro/home = authc, perms[/home]  <!-- perms 表示需要该权限才能访问的页面 -->
            </value>
        </property>
    </bean>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="MyRealm"/>
    </bean>

    <!-- 自定义Realm -->
    <bean id="MyRealm" class="com.tu.service.serviceImpl.MyRealm">
        <!-- 定义凭证匹配器 -->
        <property name="credentialsMatcher" ref="credentialsMatcher"></property>
    </bean>

    <!-- 凭证匹配器 org.apache.shiro.authc.credential.HashedCredentialsMatcher-->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <!-- 加密算法名称 -->
        <property name="hashAlgorithmName" value="MD5"></property>
        <!-- 散列次数 -->
        <!--<property name="hashIterations" value="2"></property>-->
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- 开启Shiro注解 -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor"/>
    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

</beans>